*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
*.vrb
*.DS_Store
*.fdb_latexmk
*.fls

*.pptx
*.pyc
*.zip

*~
*#
